<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/goods.css}"/>

</head>
<body>
<div class="title"><h2>秒杀商品列表</h2></div>

<div class="seckill_content">

    <div class="all_seckill_goods">
        <div class="seckill_goods" th:each="goodsVo: ${goodsVoList}">
            <h4 th:text="${goodsVo.goodsName}"></h4>
            <img th:src="@{${goodsVo.imgPath}}" width="250" height="270"/>
            <br/><br/>
            <div class="seckill_price">
                <p th:text="${goodsVo.goodsType}"></p>
                <p>
                    <span class="price1" th:text="${goodsVo.seckillPrice}+'元  '"></span>
                    <del><span class="price2" th:text="${goodsVo.price}+'元'"></span></del>
                </p>
                <a th:href="'/goodsDetail/'+${goodsVo.goodsId}">
                    <button class="btn btn-default" type="submit">进入详情页...</button>
                </a>

            </div>
        </div>
    </div>

</div>
</body>
</html>